table{
width: 90%;
margin-left: 60px;

}
caption{
color: #e00d0d;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 90px;
line-height: 0px;
}
table,th, td{
border: 1px solid blueviolet;
border-collapse: collapse;
padding: 5px;

}

td{
text-align: center;

}
th{
background-color: rgb(153, 0, 0);
color: rgb(255, 255, 255);

}
tr:nth-child(even){
background-color: rgb(255, 255, 255);

}
tr:nth-child(odd){
    background-color: rgb(51, 7, 209);
    
    }
    ul{
list-style: none;
background-color:rgb(43, 0, 161);
margin: 0%;
padding: 0%;
overflow: hidden;
}

li a{
float: left;
display: block;
color: wheat;
text-align: center;
padding: 20px;
text-decoration: none; 
}
li a:hover{
background-color: rgb(148, 30, 9);
}

ol{
list-style: none;
counter-reset: contador;

}
ol li{
counter-increment: contador ;

}

ol  li::before{
content: counter(contador) '.- ' ;
color: violet;


}

ol li ::after{
content: '.';

}

html{
    Background-color: #0c0075;
    Min-height: 1000px;
    Font-family: "helvética neve";
    Background: url(1.0.png) ,    
  
    
    
    Linear-gradient(to left, #ffffff, #f1efef);
    text-align:justify;
    }

    td{
        text-align: center;
        font-size: 25px;




    }

    th{

        text-align: center;
        font-size: 30px;
    }